html {
  background: linear-gradient(170deg, rgba(51, 69, 79, 1) 5%, rgba(31, 41, 47, 1) 95%);
  height: 100%;
  letter-spacing: 0;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0rem;
}

p {
  margin: 0;
}

h1 {
  color: white;
  text-align: center;
  padding: 8rem 2rem;
}

/* Panels */

.panels {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 450px) {
  .panels {
    margin: 10px;
    flex-direction: column;
    align-items: stretch;
  }
}

/* Panel */

.panel {
  margin: 20px;
  max-width: 400px;
  min-width: 400px;
  flex: 1;
}

@media (max-width: 450px) {
  .panel {
    margin: 10px;
    min-width: auto;
  }
}

/* Card */

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.19), 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.card > .card--title {
  padding: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: #2196f3;
  margin: 0;
}

/* List */

.list > * {
  margin: 3px;
  border-radius: 4px;
  padding: 8px 14px;
  transition-duration: 0.2s;
}

.list > *:first-child {
  border-radius: 9px 9px 4px 4px;
}

.list > *:last-child {
  border-radius: 4px 4px 9px 9px;
}

.list > *:last-child:first-child {
  border-radius: 9px;
}

.list > *:hover {
  background: #e1f5fe;
}

/* Button */

.button {
  margin: 0;
  border-radius: 200px;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.19), 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.button.button--flat {
  box-shadow: none;
}

.button.button--danger {
  background: #ef5350;
  border: 0.1rem solid #ef5350;
}

.button.button--danger:hover {
  background: #e57373;
  border: 0.1rem solid #e57373;
}

/* ButtonContainer */

.button-container {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}

/* Expense */

.expense {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.expense .expense--info {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  flex: 1;
  margin-right: 2rem;
}

.expense .expense--description {
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  color: #333333;
  font-size: 1.8rem;
}

.expense .expense--date {
  line-height: 1;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: #444444;
}

.expense .expense--user {
  display: flex;
  align-items: center;
}

.expense .expense--user-color {
  height: 1rem;
  width: 1rem;
  border-radius: 4rem;
  margin: 0.7rem;
  margin-left: 0;
}

.expense .expense--delete {
  position: absolute;
  right: 0;
  opacity: 0;
  top: 50%;
  transform: translate(20px, -50%);
  transition-duration: 0.3s;
}

.expense:hover .expense--delete {
  display: block;
  transform: translate(-10px, -50%);
  opacity: 1;
}

.expense .expense--amount {
  transition-duration: 0.3s;
  opacity: 1;
}

.expense:hover .expense--amount {
  opacity: 0;
}

/* Amount */

.amount {
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.2rem;
  color: #1976d2;
  font-size: 3rem;
  line-height: 1.6;
}

.amount .amount--big-num {
  font-weight: 700;
  font-weight: 400;
}

.amount .amount--small-num {
  font-weight: 100;
  font-size: 0.7em;
}

.amount .amount--currency {
  margin-left: 1rem;
  font-weight: 400;
}

.amount.amount--large {
  font-size: 6rem;
}

/* User */

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  position: relative;
}

.user .user--img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 4rem;
  background: #bbdefb;
  margin: 0.4rem;
  margin-right: 2rem;
}

.user .user--name {
  font-size: 2rem;
  flex: 1;
}

.user .user--delete {
  position: absolute;
  right: 0;
  opacity: 0;
  top: 50%;
  transform: translate(20px, -50%);
  transition-duration: 0.3s;
}

.user:hover .user--delete {
  display: block;
  transform: translate(-10px, -50%);
  opacity: 1;
}

.user .user--amount {
  transition-duration: 0.3s;
  opacity: 1;
}

.user:hover .user--amount {
  opacity: 0;
}

/* Input */

.input {
  padding: 12px;
  padding-top: 0;
}

.input .input--input {
  margin: 0;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 200;
  border: 2px solid #2196f3;
  padding: 1.1rem 1.6rem;
  height: auto;
}

.select {
  padding: 12px;
  padding-top: 0;
}

.select--select {
  margin: 0;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 200;
  border: 2px solid #2196f3;
  padding: 1.1rem 1.6rem;
  height: auto;
}

.select--label {
  margin: 0;
  color: #2296f3;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding-left: 0.2rem;
}

/* CenteredText */

.centered-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 4rem;
  font-size: 2.5rem;
  color: #1a237e;
  line-height: 1.6;
  text-align: center;
}
